USE [H3PD100125]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 07-10-2025 11:42:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](50) NOT NULL,
	[ClassDescription] [nvarchar](50) NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 07-10-2025 11:42:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [nvarchar](50) NOT NULL,
	[StudentAddress] [nvarchar](50) NULL,
	[ClassID] [int] NOT NULL,
	[StudentNumberOfCourses] [int] NULL,
	[StudentSumOfAllCharacters] [int] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentClass_RepetitionOnClass]    Script Date: 07-10-2025 11:42:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentClass_RepetitionOnClass](
	[StudentClassID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[ClassID] [int] NOT NULL,
	[Grade] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
 CONSTRAINT [PK_StudentClass_MedHukommelse] PRIMARY KEY CLUSTERED 
(
	[StudentClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[StudentClassView]    Script Date: 07-10-2025 11:42:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[StudentClassView] AS
SELECT s.StudentID, s.StudentName, s.StudentAddress, c.ClassName
from H3PD100125.dbo.Student s
JOIN H3PD100125.dbo.StudentClass_RepetitionOnClass sc on s.StudentID = sc.StudentID
JOIN H3PD100125.dbo.Class c on c.ClassID = sc.ClassID
GO
/****** Object:  Table [dbo].[Course]    Script Date: 07-10-2025 11:42:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Test_View]    Script Date: 07-10-2025 11:42:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Test_View]
AS
SELECT        dbo.Course.CourseName, dbo.Student.StudentName, dbo.StudentClass_RepetitionOnClass.ClassID, dbo.StudentClass_RepetitionOnClass.Grade, dbo.Class.ClassName
FROM            dbo.Class INNER JOIN
                         dbo.Student ON dbo.Class.ClassID = dbo.Student.ClassID INNER JOIN
                         dbo.StudentClass_RepetitionOnClass ON dbo.Class.ClassID = dbo.StudentClass_RepetitionOnClass.ClassID AND dbo.Student.StudentID = dbo.StudentClass_RepetitionOnClass.StudentID INNER JOIN
                         dbo.Course ON dbo.StudentClass_RepetitionOnClass.CourseID = dbo.Course.CourseID
GO
/****** Object:  View [dbo].[FullStudentInfoView]    Script Date: 07-10-2025 11:42:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FullStudentInfoView] AS
SELECT s.StudentID, s.StudentName, s.StudentAddress, s.StudentNumberOfCourses, cl.ClassName, co.CourseName
FROM H3PD100125.dbo.Class cl
JOIN H3PD100125.dbo.StudentClass_RepetitionOnClass scc on cl.ClassID = scc.ClassID
JOIN H3PD100125.dbo.Student s on s.StudentID = scc.StudentID
JOIN H3PD100125.dbo.Course co on scc.CourseID = co.CourseID
WHERE cl.ClassName LIKE '%'
GO
/****** Object:  Table [dbo].[Student_Class_Collection]    Script Date: 07-10-2025 11:42:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Class_Collection](
	[StudentID] [int] NOT NULL,
	[ClassID] [int] NOT NULL,
	[StartDate] [datetime] NULL,
 CONSTRAINT [PK_Student_Class_Collection] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC,
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([ClassID], [ClassName], [ClassDescription]) VALUES (3, N'h1pd080119', N'Nu er vi på hovedforløbet')
INSERT [dbo].[Class] ([ClassID], [ClassName], [ClassDescription]) VALUES (4, N'h2pd010120', N'Nu er vi allerede på h2 !!!')
INSERT [dbo].[Class] ([ClassID], [ClassName], [ClassDescription]) VALUES (5, N'h3pd010820', N'Nu er vi så på H3 !!!')
SET IDENTITY_INSERT [dbo].[Class] OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([CourseID], [CourseName]) VALUES (1, N'Matematik')
INSERT [dbo].[Course] ([CourseID], [CourseName]) VALUES (2, N'Fysik')
INSERT [dbo].[Course] ([CourseID], [CourseName]) VALUES (3, N'Kemi')
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([StudentID], [StudentName], [StudentAddress], [ClassID], [StudentNumberOfCourses], [StudentSumOfAllCharacters]) VALUES (8, N'Hans', N'Testvej 1', 4, 6, 66)
INSERT [dbo].[Student] ([StudentID], [StudentName], [StudentAddress], [ClassID], [StudentNumberOfCourses], [StudentSumOfAllCharacters]) VALUES (9, N'Søren', N'Testvej 2', 5, 2, 19)
INSERT [dbo].[Student] ([StudentID], [StudentName], [StudentAddress], [ClassID], [StudentNumberOfCourses], [StudentSumOfAllCharacters]) VALUES (10, N'Jens', N'Testvej 3', 5, 4, 36)
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
INSERT [dbo].[Student_Class_Collection] ([StudentID], [ClassID], [StartDate]) VALUES (8, 4, CAST(N'2019-08-26T11:26:09.100' AS DateTime))
INSERT [dbo].[Student_Class_Collection] ([StudentID], [ClassID], [StartDate]) VALUES (9, 4, CAST(N'2019-08-26T10:50:35.887' AS DateTime))
INSERT [dbo].[Student_Class_Collection] ([StudentID], [ClassID], [StartDate]) VALUES (9, 5, CAST(N'2019-08-26T10:50:50.787' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[StudentClass_RepetitionOnClass] ON 

INSERT [dbo].[StudentClass_RepetitionOnClass] ([StudentClassID], [StudentID], [ClassID], [Grade], [CourseID]) VALUES (1, 8, 3, 10, 1)
INSERT [dbo].[StudentClass_RepetitionOnClass] ([StudentClassID], [StudentID], [ClassID], [Grade], [CourseID]) VALUES (2, 8, 3, 10, 2)
INSERT [dbo].[StudentClass_RepetitionOnClass] ([StudentClassID], [StudentID], [ClassID], [Grade], [CourseID]) VALUES (3, 8, 3, 12, 1)
SET IDENTITY_INSERT [dbo].[StudentClass_RepetitionOnClass] OFF
GO
ALTER TABLE [dbo].[Student_Class_Collection] ADD  CONSTRAINT [DF_Student_Class_Collection_StartDate]  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Class] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([ClassID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Class]
GO
ALTER TABLE [dbo].[Student_Class_Collection]  WITH CHECK ADD  CONSTRAINT [FK_Student_Class_Collection_Class] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([ClassID])
GO
ALTER TABLE [dbo].[Student_Class_Collection] CHECK CONSTRAINT [FK_Student_Class_Collection_Class]
GO
ALTER TABLE [dbo].[Student_Class_Collection]  WITH CHECK ADD  CONSTRAINT [FK_Student_Class_Collection_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[Student_Class_Collection] CHECK CONSTRAINT [FK_Student_Class_Collection_Student]
GO
ALTER TABLE [dbo].[StudentClass_RepetitionOnClass]  WITH CHECK ADD  CONSTRAINT [FK_StudentClass_RepetitionOnClass_Class] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([ClassID])
GO
ALTER TABLE [dbo].[StudentClass_RepetitionOnClass] CHECK CONSTRAINT [FK_StudentClass_RepetitionOnClass_Class]
GO
ALTER TABLE [dbo].[StudentClass_RepetitionOnClass]  WITH CHECK ADD  CONSTRAINT [FK_StudentClass_RepetitionOnClass_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[StudentClass_RepetitionOnClass] CHECK CONSTRAINT [FK_StudentClass_RepetitionOnClass_Course]
GO
ALTER TABLE [dbo].[StudentClass_RepetitionOnClass]  WITH CHECK ADD  CONSTRAINT [FK_StudentClass_RepetitionOnClass_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[StudentClass_RepetitionOnClass] CHECK CONSTRAINT [FK_StudentClass_RepetitionOnClass_Student]
GO
/****** Object:  StoredProcedure [dbo].[FullStudentInfo_SP]    Script Date: 07-10-2025 11:42:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FullStudentInfo_SP] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT        s.StudentID, s.StudentName, s.StudentAddress, s.StudentNumberOfCourses, cl.ClassName, co.CourseName
	FROM          dbo.Class AS cl INNER JOIN
                  dbo.StudentClass_RepetitionOnClass AS scc ON cl.ClassID = scc.ClassID INNER JOIN
                  dbo.Student AS s ON s.StudentID = scc.StudentID INNER JOIN
                  dbo.Course AS co ON scc.CourseID = co.CourseID
	WHERE        (cl.ClassName LIKE '%')
END
GO
/****** Object:  StoredProcedure [dbo].[FullStudentInfo_SP_By_ID]    Script Date: 07-10-2025 11:42:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FullStudentInfo_SP_By_ID] 
	-- Add the parameters for the stored procedure here
	@StudentId int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT        s.StudentID, s.StudentName, s.StudentAddress, s.StudentNumberOfCourses, cl.ClassName, co.CourseName
	FROM          dbo.Class AS cl INNER JOIN
                  dbo.StudentClass_RepetitionOnClass AS scc ON cl.ClassID = scc.ClassID INNER JOIN
                  dbo.Student AS s ON s.StudentID = scc.StudentID INNER JOIN
                  dbo.Course AS co ON scc.CourseID = co.CourseID
	WHERE        (cl.ClassName LIKE '%') AND (s.StudentID = @StudentId)
END
GO
/****** Object:  Trigger [dbo].[UpdateStudentClassInfo]    Script Date: 07-10-2025 11:42:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[UpdateStudentClassInfo] 
   ON  [dbo].[Student_Class_Collection] 
   AFTER INSERT,DELETE,UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here

	DECLARE @StudentID INT;
	DECLARE @NumberOfClasses INT;
	DECLARE @ClassID INT;

	DECLARE @Action as char(1);

	SET @Action = 'I'  -- Set Action to Insert by default.

	IF EXISTS(SELECT * FROM DELETED)
	BEGIN
	  SET @Action = 
		CASE
		  WHEN EXISTS(SELECT * FROM INSERTED) THEN 'U' -- Set Action to Updated.
		  ELSE 'D'  -- Set Action to Deleted. 
		END
	END
    ELSE
	BEGIN
	  IF NOT EXISTS(SELECT * FROM INSERTED)
	    RETURN    -- Nothing updated or inserted so return without doing anything.
	END

	IF ('U' = @Action OR 'I' = @Action)
	BEGIN
	  SET @StudentID = (SELECT StudentID FROM inserted);
	END
	ELSE
	BEGIN
		SET @StudentID = (SELECT StudentID FROM deleted);
	END

	

	SET @NumberOfClasses = ( SELECT Count(*) FROM Student_Class_Collection WHERE StudentID = @StudentID)

	IF (@NumberOfClasses > 0)
	BEGIN
		SET @ClassID = (SELECT TOP 1 CLassID FROM Student_Class_Collection WHERE StudentID = @StudentID
			ORDER BY StartDate DESC)

		UPDATE [dbo].Student
			SET ClassID = @ClassID
			WHERE StudentID = @StudentID
	END

END
GO
ALTER TABLE [dbo].[Student_Class_Collection] ENABLE TRIGGER [UpdateStudentClassInfo]
GO
/****** Object:  Trigger [dbo].[UpdateStudentGradeInfo]    Script Date: 07-10-2025 11:42:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[UpdateStudentGradeInfo] 
   ON  [dbo].[StudentClass_RepetitionOnClass] 
   AFTER INSERT,DELETE,UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for trigger here

	DECLARE @StudentID INT;
	DECLARE @GradeSum INT;
	DECLARE @GradeCount INT;

	DECLARE @Action as char(1);

	SET @Action = 'I'  -- Set Action to Insert by default.

	IF EXISTS(SELECT * FROM DELETED)
	BEGIN
	  SET @Action = 
		CASE
		  WHEN EXISTS(SELECT * FROM INSERTED) THEN 'U' -- Set Action to Updated.
		  ELSE 'D'  -- Set Action to Deleted. 
		END
	END
    ELSE
	BEGIN
	  IF NOT EXISTS(SELECT * FROM INSERTED)
	    RETURN    -- Nothing updated or inserted so return without doing anything.
	END

	IF ('U' = @Action OR 'I' = @Action)
	BEGIN
	  SET @StudentID = (SELECT StudentID FROM inserted);
	END
	ELSE
	BEGIN
		SET @StudentID = (SELECT StudentID FROM deleted);
	END

	Set @GradeSum = (SELECT SUM(Grade) AS GradeSum FROM [dbo].[StudentClass_RepetitionOnClass]
	WHERE StudentID = @StudentID)

	SET @GradeCount = (SELECT Count(Grade) AS GradeCount FROM [dbo].[StudentClass_RepetitionOnClass]
	WHERE StudentID = @StudentID)

	UPDATE [dbo].Student
		SET StudentNumberOfCourses = @GradeCount,
		    StudentSumOfAllCharacters = @GradeSum
		WHERE StudentID = @StudentID

END
GO
ALTER TABLE [dbo].[StudentClass_RepetitionOnClass] ENABLE TRIGGER [UpdateStudentGradeInfo]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[50] 4[13] 2[4] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Class"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 119
               Right = 214
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Student"
            Begin Extent = 
               Top = 1
               Left = 555
               Bottom = 131
               Right = 784
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "StudentClass_RepetitionOnClass"
            Begin Extent = 
               Top = 169
               Left = 538
               Bottom = 345
               Right = 708
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Course"
            Begin Extent = 
               Top = 6
               Left = 252
               Bottom = 102
               Right = 422
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1800
         Width = 2475
         Width = 2820
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Test_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Test_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Test_View'
GO